@use "../../styles/breakpoints" as styles;

.specifications {
  font-size: var(--font-size-sm);

  &__title {
    display: inline-flex;
    font-size: var(--font-size-lg);
    margin-bottom: 2.5rem;
  }

  &__row {
    display: flex;
    gap: 0.75rem;
    padding: 1rem 0;
    min-height: 2.937rem;
    border-bottom: thin solid;

    &:first-of-type {
      border-top: thin solid;
    }

    &--field-size {
      min-width: 9.375rem;
    }
  }
}

@media (min-width: styles.$breakpoint-tablet) {
  .specifications__row--field-size {
    min-width: 18.75rem;
  }
}
