.link-container {
  display: inline-flex;
  align-items: center;
  height: 2.75rem;

  &__icon {
    width: 1.5rem;
    height: 0.7rem;
  }
}

.phone-detail {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.similar-phones {
  padding-bottom: 5rem;

  &__title {
    padding-bottom: 2.5rem;
  }

  &__carrousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 2.5rem;
    scrollbar-width: thin;

    &--space {
      flex: 0 0 auto;
      width: 21.437rem;
    }
  }
}
