@use "../../../../styles" as styles;

.cart-page {
  display: grid;
  padding: 1.5rem 0 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5rem 1fr 5.5rem;
  grid-template-areas: "title" "main" "footer";
  height: 100%;

  &__title {
    grid-area: title;
    font-size: var(--font-size-lg);
  }

  &__products {
    grid-area: main;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-sm);
    overflow: auto;

    .product {
      grid-area: footer;
      display: flex;
      gap: 1.5rem;

      &__image {
        width: 10rem;
        height: 12.213rem;
      }

      &__detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.25rem;

        &--column {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
        }

        &--size {
          max-width: 2rem;
        }
      }
    }
  }

  &__delete {
    padding: 0.5rem 0;
    width: fit-content;
  }
}

.cart-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-end;

  &__total {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
  }

  &__actions {
    display: flex;
    gap: 0.75rem;

    &--stretch {
      width: 50%;
      flex: 1;
    }
  }
}

@media (min-width: styles.$breakpoint-tablet) {
  .cart-page {
    &__products {
      .product {
        &__image {
          width: 16.375rem;
          height: 20.25rem;
        }
        &__detail {
          justify-content: initial;
          padding-top: 2.5rem;
        }
      }
    }

    &__delete {
      padding-top: 8rem;
    }
  }

  .cart-footer__total {
    justify-content: flex-end;
    gap: 1.5rem;
  }

  .cart-footer__actions {
    justify-content: space-between;

    &--stretch {
      max-width: 12.5rem;
    }
  }
}
