@use "../../../../styles" as styles;

.link-container {
  display: inline-flex;
  align-items: center;
  height: 2.75rem;

  &__icon {
    width: 1.5rem;
    height: 0.7rem;
  }
}

.phone-detail {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.similar-phones {
  &__title {
    display: block;
    padding-bottom: 2.5rem;
    font-size: var(--font-size-lg);
  }

  &__carrousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 2.5rem;
    scrollbar-width: thin;

    &--space {
      flex: 0 0 auto;
      width: 21.437rem;
    }
  }
}

@media (min-width: styles.$breakpoint-desktop) {
  .phone-detail {
    padding: 0 16.25rem;
  }
}
