.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem calc(100dvh - 5rem);
  grid-template-areas:
    "header"
    "content";

  height: 100dvh;
  overflow: hidden;
  background-color: var(--color-background-primary);
}

.app__header {
  grid-area: header;
}

.app__main {
  grid-area: content;
  overflow-y: auto;
  min-height: 0;
  padding: 0 1rem;
}
