.button-container {
  display: inline-flex;
  cursor: pointer;
  border: thin solid #cccccc;
  font-size: var(--font-size-sm);
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.75rem;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--filled {
    background-color: var(--color-background-dark);
    color: var(--color-text-contrast);
  }

  &--outlined,
  &--ghost {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
  }

  &--ghost {
    border: none;
  }

  &--danger {
    color: var(--color-text-danger);
  }
}
