.button-container {
  display: inline-flex;
  cursor: pointer;
  border: thin solid #cccccc;
  font-size: var(--font-size-sm);
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.75rem;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--filled {
    background-color: black;
    color: white;
  }

  &--outlined,
  &--ghost {
    background-color: transparent;
    color: black;
  }

  &--ghost {
    border: none;
  }

  &--danger {
    color: red;
  }
}
