:root {
  // Typography
  --font-size-xs: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  // Text
  --color-text-primary: #000000;
  --color-text-secondary: #79736d;
  --color-text-contrast: #ffffff;
  --color-text-muted: #aaaaaa;
  --color-text-danger: #df0000;

  // Background
  --color-background-primary: #ffffff;
  --color-background-secondary: #f3f2f2;
  --color-background-dark: #1b1a18;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
  margin: 0;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--color-text-primary);
  text-decoration: none;
}

input::placeholder {
  color: var(--color-text-muted);
}
